body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #040178; text-decoration: none;
}

input,textarea{
    max-width: 300px;
}


a:hover{
    text-decoration: none;
}