<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>ECCO one stop shop</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href="/stylesheets/style.css" />
<!--    <script type="text/javascript" src="test.js" th:src="test.js"></script>-->
    <script type="text/javascript" src="javascripts/profil.js"></script>
    <!--    <script type="text/javascript" src="/javascripts/javascript.js" th:src="@{/javascripts/javascript.js}"></script>-->
</head>
<body>
<header>
    <header>
        <div class="container">
            <div class="page-header">
                <a href="/"><h1>ECCO one stop shop</h1></a>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="home"><a href="/">HOME</a></li>
                        <li id="ghg"><a href="http://localhost:8081/">GHG TOOL</a></li>
                        <li id="about_us"><a href="https://www.nweurope.eu/projects/project-search/ecco-creating-new-local-energy-community-co-operatives/">ABOUT US</a></li>
                        <li id="resources"><a href="test">RESOURCES</a></li>
                        <li id="login"><a href="login">LOGIN</a></li>
                        <li id="register"><a href="registration">REGISTER</a></li>
                    </ul>
                    <!--	  <div class="image-header">-->
                    <!--          <a href="/index"><img src=''/></a>-->
                    <!--	</div>-->
                </div>
            </div>
        </nav>
    </header>

</header>
<main>

    <section class="container">
        <section class="jumbotron">
            <h1 id="userWelcomeHeader">Welcome to your profile</h1>
        </section>
    </section>

    <section class="container">
        <section class="jumbotron">
            <h2>Adjust your profile to match with others and projects</h2>

            <br>

            <p>select your country.</p>
            <form id="userLocation">
                <label class="radio-inline">
                    <input type="radio" name="location"value="Ireland" checked>Ireland
                </label>
                <label class="radio-inline">
                    <input type="radio" name="location" value="France">France
                </label>
                <label class="radio-inline">
                    <input type="radio" name="location" value="Germany">Germany
                </label>
                <label class="radio-inline">
                    <input type="radio" name="location" value="Belgium">Belgium
                </label>
                <label class="radio-inline">
                    <input type="radio" name="location" value="Netherlands">Netherlands
                </label>
                <label class="radio-inline">
                    <input type="radio" name="location"value="none" checked>none
                </label>
            </form>

            <br>
            <button type="button" class="btn btn-info" id="locationConfirmationBtn">Confirm location</button>

                <br>
            <hr class="my-4">

            <p>select which renewable technology your project is already using (if none, select none).</p>
            <form id="userTech">
                <label class="checkbox-inline">
                    <input type="checkbox" name="renewableTechnology" value="wind">wind
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="renewableTechnology" value="solar">solar
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="renewableTechnology" value="biogas">biogas
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="renewableTechnology" value="hydro">hydro
                </label>
            </form>

            <br>
            <button type="button" class="btn btn-info" id="userTechConfirmationBtn">Confirm renewable technology</button>

                <br>
            <hr class="my-4">

<!--            <p>Pick which renewable technologies you would like your project to use, and their rank of which you would like to focus on.</p>-->
<!--            <form id="technologyInterest">-->
<!--&lt;!&ndash;                give vertical checkboxes of tech then horizontal radio from 0 to 5&ndash;&gt;-->

<!--            </form>-->

<!--            <button type="button" class="btn btn-info" id="profilConfirmationBtn">Confirm</button>-->

            <button type="button" class="btn btn-primary" id="matchUser">Match Me</button>

            <section id="matchResponse"></section>
            </section>
        </section>

    <p id="resTest"></p>

</main>
<footer>
    <hr>
    <p class="text-center text-muted">© ECCO project</p>
</footer>
</body>
</html>